/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/node_modules/primeflex/primeflex.css";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins.ttf');
}

body,
body .p-component {
  font-family: 'Poppins' !important;
  font-size: 14px;
}

.extend-input{
  display: grid !important; 
  width: 100% !important;
}

.table-container-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}